<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>erreur de  type: {{ status_text }} : {{ status_code }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
        <section class="container">
            <div class="row">
               <div class="col-md-12  jumbotron">

               {# pages non trouvées #}
               <h2>Il semblerait que  la page demandée n'existe  pas .<br> Un retour à la  <strong>homepage </strong>serait préférable .</h2>

               <h2>This  page  doesn't exist <br> We suggest  you to return  to the <strong>homepage</strong>.</h2>
                
                {# btn retour home #}
                <div>
                    <a href="{{ path('home') }}" class="btn btn-warning">Retour à l'acceuil /Homepage</a>
                </div>
                </div>

            </div>

        </section>
    </body>
</html>
